<div class="create-article-container">
    <h1>Create Article</h1>
  
    <form [formGroup]="articleForm" (ngSubmit)="publishArticle()">
      <label>
        Title
        <input type="text" formControlName="title" placeholder="Enter article title" />
        <small *ngIf="articleForm.get('title')?.invalid && articleForm.get('title')?.touched">
          Title is required (min 5 characters).
        </small>
      </label>
  
      <label>
        Thumbnail
        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
        <!-- <img *ngIf="articleForm.get('thumbnail')?.value" [src]="articleForm.get('thumbnail')?.value" alt="Thumbnail preview" /> -->
      </label>
  
      <label>
        Content
        <quill-editor formControlName="content"  [styles]="{ minHeight: '300px' }"></quill-editor>
      </label>
  
      <label>
        Tags (comma-separated)
        <input type="text" formControlName="tags" placeholder="Enter tags" />
      </label>
  
      <div class="action-buttons">
        <button type="submit" [disabled]="isSubmitting">Publish</button>
      </div>
    </form>
  </div>
  